extends ./layout.jade

block content
  .addPropertyForm
    h1 #{__('Add new property')}
    form#property(method='POST')
      .row
        label.fullWidth(for='propertyName') #{__('Caption')}
        input#propertyName(type='text' name='name')
      .row
        label.fullWidth(for='propertyAddress') #{__('Address')}
        input#propertyAddress(type='text' name='address')
      .row
        #addPropertyButton.btn.btn-primary(type='submit') #{__('Add')}
        #cancelAddPropertyButton.btn.btn-default(type='cancel') #{__('Cancel')}
block scripts
  script(type='text/javascript', src='/js/addProperty.js')
