extends ./layout.jade

block content
  #contracts.tab-pane(role='tabpanel')
    #addContract 
      div 
        span #{__('Click here to add new contract')}
    table.table
      tr
        th.nowrap #{__('Property')}
        th.nowrap #{__('Contract name')}
        th.nowrap #{__('Since')}
        th.nowrap #{__('Till')}
        th.nowrap #{__('Payment frequency')}
        th.nowrap #{__('Payment')}
      for contract in contracts
        tr.tenant
          td.nowrap= contract.property.name
          td.fullWidth= contract.contractCaption
          td= contract.fromDate
          td= contract.tillDate
          td= contract.paymentFrequency
          td= contract.payment
block scripts
  script(type='text/javascript', src='/js/contracts.js')