extends ./layout.jade

mixin frequencyOption(code, name, value)
  if (value === code)
    option(value=code, selected="selected")= name
  else
    option(value=code)= name

block content
  .row.contentRow(style='opacity: 1;')
    #addTenantDialog
      .addTenantDialogHeader
        .headerCaption
          h1 #{__(title)}
        #addTenantDialogClose.btn.btn-default.float-right #{__('Cancel')}
        #addTenantDialogSave.btn.btn-primary.float-right #{__('Save')}
      .container
        if contract.property
          .form-group
            label(for='property') #{__('Property')}
            input#property.form-control(type='text' required value=contract.property.name readonly)
            input#propertyId(type='hidden' name='property' value=contract.property.id)
        else
          .form-group
            label(for='property') #{__('Property')}
            input#property.form-control(type='text' required autofocus)
            input#propertyId(type='hidden' name='property')
        .form-group
          label(for='contractCaption') #{__('Contract reference')}
          input#contractCaption.form-control(type='text', placeholder= __('Uw reference') value=contract.contractCaption autofocus )
        .form-group
          label(for='fromDate') #{__('Since')}
          input#fromDate.form-control(type='text', placeholder= __('Since'), data-date-format='dd/mm/yyyy', data-provide='datepicker' value=contract.fromDate)
        .form-group
          label(for='tillDate') #{__('Till')}
          input#tillDate.form-control(type='text', placeholder= __('Till'), data-date-format='dd/mm/yyyy', data-provide='datepicker' value=contract.tillDate)
        .form-group
          label(for='paymentFrequency') #{__('Payment frequency')}
          select#paymentFrequency.form-control
            +frequencyOption('monthly', __('Montly'), contract.paymentFrequency)
            +frequencyOption('weekly', __('Weekly'), contract.paymentFrequency)
            +frequencyOption('daily', __('Daily'), contract.paymentFrequency)
        .form-group
          label(for='payment') #{__('Payment')}
          input#payment.form-control(type='text', placeholder= __('Payment') data-mask="#.##0,00" data-mask-reverse="true" value=contract.payment)
        .form-group
          label(for='paymentDay') #{__('Payment day')}
          input#paymentDay.form-control(type='text', placeholder= __('Payment day') data-mask="#0" data-mask-reverse="true" value=contract.paymentDay)
      .container.collapsible
        h3 
          div.glyphicon.glyphicon-collapsible
          = __('Tenants')
        .contents
          if contract.tenant
            .form-group
              label(for='tenantName') #{__('Tenant name')}
              input#tenantName.form-control(type='text', placeholder= __('Tenant name') value=contract.tenant.tenantName)
            .form-group
              label(for='birthDate') #{__('Birth date')}
              input#birthDate.form-control(type='text', placeholder= __('Birth date'), data-date-format='dd/mm/yyyy', data-provide='datepicker' value=contract.tenant.birthDate)
            .form-group
              label(for='phonenumber') #{__('Phone Number')}
              input#phonenumber.form-control(type='text', placeholder= __('Phone Number') value=contract.tenant.phonenumber)
            .form-group
              label(for='email') #{__('Email')}
              input#email.form-control(type='text', placeholder= __('Email') value=contract.tenant.email)
          else
            .form-group
              label(for='tenantName') #{__('Tenant name')}
              input#tenantName.form-control(type='text', placeholder= __('Tenant name'))
            .form-group
              label(for='birthDate') #{__('Birth date')}
              input#birthDate.form-control(type='text', placeholder= __('Birth date'), data-date-format='dd/mm/yyyy', data-provide='datepicker')
            .form-group
              label(for='phonenumber') #{__('Phone Number')}
              input#phonenumber.form-control(type='text', placeholder= __('Phone Number'))
            .form-group
              label(for='email') #{__('Email')}
              input#email.form-control(type='text', placeholder= __('Email'))
block scripts
  script(type='text/javascript', src='/js/jquery.mask.min.js')
  script(type='text/javascript', src='/js/bootstrap-datepicker.min.js')   
  script(type='text/javascript') var propertiesLookup = 
    != JSON.stringify(properties)
  script(type='text/javascript', src='/js/contract.js')