include ./mixins/languages.jade

//- layout.jade
doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Azurent
    link(rel="shortcut icon", href="/img/favicon.ico")
    link(rel='stylesheet', type='text/css', href='/css/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/libs/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='/css/libs/nanoscroller.css')
    link(rel='stylesheet', type='text/css', href='/css/compiled/theme_styles.css')
    link(rel='stylesheet', type='text/css', href='/css/libs/daterangepicker.css')
    link(rel='stylesheet', type='text/css', href='/css/azurent.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400', rel='stylesheet', type='text/css')
  body.theme-whbl.pace-done
    header#header-navbar.navbar
      .container
        a#logo.navbar-brand(href='/')
          span#logo AZURENT
        
        .clearfix
          .nav-no-collapse.navbar-left.pull-left.hidden-sm.hidden-xs
            ul.nav.navbar-nav.pull-left              
              li.dropdown.hidden-xs
                a.btn.icon(href='messages.html')
                  i.fa.fa-envelope-o
                  if status.unreadMessagesCount > 0
                    span.count= status.unreadMessagesCount
          #header-nav.nav-no-collapse.pull-right
            ul.nav.navbar-nav.pull-right
              li.mobile-search
                a.btn.icon
                  i.fa.fa-search
              +languages()
              li.dropdown.profile-dropdown
                a.dropdown-toggle(href='#')
                  img(src=user.photo, alt='')
                  span.hidden-xs= user.displayName
              li.hidden-xxs
                a.btn.icon(href='/logout')
                  i.fa.fa-power-off
    
    #nav-col.row
      #side-navbar
        ul.nav
          li
            a(href='payments.html')
              span #{__('Payments')}         
          li
            a(href='problems.html')
              span #{__('Problems')}          
          li
            a(href='documents.html')
              span #{__('Documents')} 
          li
            a(href='messages.html')
              span #{__('Messages')}   
    #content-wrapper
      block content
    
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.js')
    script(type='text/javascript', src='/js/knockout-3.3.0.js')
    script(type='text/javascript', src='/js/global.js')
    block scripts
