extends ./layout.jade

block content
  div #{JSON.stringify(dialogs)}
  #messages.row.contentRow(style='opacity: 1;')
    .dialogs.col-xs-3
      #addDialogButton
        div 
          span #{__('Add dialog')}
      for dialog in dialogs
        .dialog(data-id= dialog.id)
          .dialogCaption= dialog.caption
          .people
            for user in dialog.users
              .tenant
                img(src= user.photo)
    .messagesDataWrapper.col-xs-9
      .messagesData.row
      .messageInput.row
        .form-group 
          .input-group
            input#messageText.form-control(type='text', placeholder='type your message here...' autofocus)
            #sendButton.input-group-addon.btn.btn-primary #{__('Send')}
block scripts    
  script(type='text/javascript', src='/js/mustache.min.js')
  script(type='text/javascript', src='/js/socket.io-1.3.7.js')
  script(type='text/javascript', src='/js/messages.js')
  if (dialogs.length)
    script(type='text/javascript')
      | loadMessages(#{dialogs[0].id});