extends ./layout.jade

block content
  .row.contentRow(style='opacity: 1;')
    .tenants
      table.table
        tr
          th #{__('Property')}
          th.align-right #{__('Status')}
        
        for property in properties
          tr.property(data-propertyid=property.id)
            td
              a(href='property.html?id='+property.id)= property.name
            
            if property.payment > 0
              td.align-right.statusPaid +#{property.payment}&euro;
            else
              td.align-right #{property.payment}&euro;
          tr.detailsRow
            td(colspan='2')
              .details.align-right(style='width: 100%')
                canvas#mycanvas(style='width: 100%; max-height:150px;')
block scripts    
  script(type='text/javascript', src='/js/Chart.js')
  script(type='text/javascript', src='/js/payments.js')
