extends ./layout.jade

block content
  .row.contentRow(style='opacity: 1;')
    .transactions
      table.table
        tr
          th #{__('Date')}
          th.align-right #{__('Income')}
          th.align-right #{__('Cost')}
          th #{__('Description')}
          th #{__('Property')}
        for transaction in transactions
          tr.transaction.markSelection
            td= transaction.date
            td.paymentOK.transactionAmount.align-right
              if transaction.amount > 0
                = transaction.amount
                |&euro;
            td.paymentNOK.transactionAmount.align-right
              if transaction.amount < 0
                = transaction.amount
                |&euro;
            td.fullWidth= transaction.description
            td.transactionPropety= transaction.property.name

