extends ./layout.jade

include ./mixins/issueActionButton

block content
  .content
    #problemCaption.row
      span= issue.issueCaption
    #problemMenu.row
      +issueActionButton(issue)
    #problemDescription.row
      p Dear,
      p Since yeasterday I have problems with the boiler.
    #problemCosts.row
      h3 #{__('Problem costs')}
      if issue.status == 'open' || issue.status == 'on-hold'
        #addCostsArea
          .costsPlaceholder
            span.glyphicon.glyphicon-plus
            | Click here to add costs
          .costsEditArea
            .costDescription(contenteditable='true' placeholder='Cost description')
            .costAmount(contenteditable='true' placeholder='Cost amount')
            .costsButtons
              #addCostsButton.btn.btn-primary Add
              #cancelCostsButton.btn.btn-default Cancel
      if costs.length > 0
        table.table
          for cost in costs
            tr
              td.paymentNOK
                = Math.abs(cost.amount)
                |&euro;
              td= cost.date
              td.fullWidth= cost.description
      if costs.length = 0 
        .noCost there are no cost yet
    #problemCommentsMenu.row
      h3 #{__('Comments')}
      if issue.status == 'open' || issue.status == 'on-hold'
        #addCommmentArea
          .commentPlaceholder
            span.glyphicon.glyphicon-plus
            | #{__('Click here to add a comment')}
          .commentEditArea
            .commentText(contenteditable='true')
            .commentButtons
              #addCommentButton.btn.btn-primary Add
              #cancelCommentButton.btn.btn-default Cancel
    #problemComments.row
      table.table
        tbody
          if issue.comments
            for comment in issue.comments
              tr
                td= comment

block scripts    
  script(type='text/javascript', src='js/issue.js')
