extends ./layout.jade

include ./mixins/issueActionButton

block content
  .row.contentRow(style='opacity: 1;')
    .issues
      table.table
        tr
          th Problem
          th Property
          th Date
          th Status
        for issue in openIssues
          tr(class= issue.status == 'new' ? 'newIssue issue' : 'issue', data-id=issue.id)
            td= issue.issueCaption
            td= issue.property.name
            td= issue.creationDate
            td
              +issueActionButton(issue)
        if solvedIssues.length > 0
          tr
            td(colspan='4')
              #solvedIssues Solved
          for issue in solvedIssues
            tr.issue.solved(data-id=issue.id)
              td= issue.issueCaption
              td= issue.property.name
              td= issue.creationDate
              td
                +issueActionButton(issue)
  script(type='text/javascript', src='js/jquery.js')
  script(type='text/javascript', src='js/bootstrap.js')  
  script(type='text/javascript', src='js/problems.js')
