mixin property(property)
  .property.col-sm-4
      div
        a(href='property.html?id=' + property.id)
          .picture
            img(src=property.img)
          .caption
            span= property.name
          .extraInformation
            div
              if property.payment > 0
                span.paymentOK 
                  | &euro;
                  span= Math.abs(property.payment)
                |  #{__('payed')}
              else
                span.paymentNOK
                  | &euro;
                  span= Math.abs(property.payment)
                |  #{__('due')}
            if property.issuesTotal > 0
              span.hasIssues= property.issuesTotal
              |  #{__('issues')}	
            else
               div #{__('No issues')}

extends ./layout.jade

block content
  .row(style='opacity: 1;')
    .dashboard-button.col-xs-3
      #dueContainer
        a(href='paymentStatus.html')
          #due &euro;
            span= status.due
          .buttonCaption #{__('due till now')}
    .dashboard-button.col-xs-3
      #problemsContainer
        a(href='problems.html')
          #problemCount
            = status.totalIssues
            if status.totalNewIssues > 0
              span 
                |(+
                = status.totalNewIssues
                |)
          .buttonCaption #{__('Open problems')}
    .dashboard-button.col-xs-3
      #incomesContainer
        a(href='payments.html')
          #incomes 
            |&euro;
            = status.totalIncome
          .buttonCaption #{__('earned this year')}
    .dashboard-button.col-xs-3
      #costsContainer
        a(href='payments.html')
          #costs
            |&euro;
            = status.totalCosts
          .buttonCaption #{__('spent this year')}
  .row(style='opacity: 1;')
    for property in properties
      +property(property)
    .addPropertyButton.col-sm-4
      div 
        span #{__('Click here to add new property')}

block scripts
  script(type='text/javascript', src='/js/properties.js')

