mixin property(property)
  .property.col-sm-4
      div
        a(href='property.html?id=' + property.id)
          .picture
            img(src=property.img)
          .caption
            span= property.name
          .extraInformation
            div
              if property.payment > 0
                span.paymentOK 
                  | &euro;
                  span= Math.abs(property.payment)
                |  payed
              else
                span.paymentNOK
                  | &euro;
                  span= Math.abs(property.payment)
                |  due
            if property.issuesTotal > 0
              span.hasIssues= property.issuesTotal
              |  issues	
            else
               div No issues

extends ./layout.jade

block content
  .row(style='opacity: 1;')
    .dashboard-button.col-xs-3
      #dueContainer
        a(href='paymentStatus.html')
          #due &euro;
            span= status.due
          .buttonCaption due till now
    .dashboard-button.col-xs-3
      #problemsContainer
        a(href='problems.html')
          #problemCount
            = status.totalIssues
            if status.newIssues > 0
              span 
                |(+
                = status.newIssues
                |)
          .buttonCaption Open problems
    .dashboard-button.col-xs-3
      #incomesContainer
        a(href='payments.html')
          #incomes 
            |&euro;
            = status.totalIncome
          .buttonCaption earned this year
    .dashboard-button.col-xs-3
      #costsContainer
        a(href='payments.html')
          #costs
            |&euro;
            = status.totalCosts
          .buttonCaption spent this year
  .row(style='opacity: 1;')
    for property in properties
      +property(property)