extends ./layout.jade

block content
  .row.contentRow(style='opacity: 1;')
    .tenants
      table.table
        tr
          th
          th #{__('Property')}
          th #{__('Tenants_Name')}
        for tenant in tenants
          tr.tenant
            td
              span.glyphicon.glyphicon-chevron-right
            td.nowrap= tenant.property.name
            td.fullWidth= tenant.tenantName
          tr.detailsRow
            td(colspan='999')
              .details
                table
                  tr
                    td.tenantPicture
                      img(src=tenant.picture)
                  
                    td.vAlign-top.fields
                      .field
                        .fieldName #{__('Age')}:
                        .fieldValue= tenant.age
                      .field
                        .fieldName #{__('Phone')}:
                        .fieldValue= tenant.phonenumber
                      .field
                        .fieldName #{__('Email')}:
                        .fieldValue= tenant.email
block scripts
  script(type='text/javascript', src='/js/tenants.js')
    