extends ../layoutTenant.jade

block content
  .row.contentRow(style='opacity: 1;')
    .addIssueButton
      div 
        span #{__('Click here to add new issue')}
    .issues
      table.table
        tr
          th #{__('Problem')}
          th #{__('Date')}
          th #{__('Status')}
        for issue in issues
          tr(class= issue.status == 'new' ? 'newIssue issue' : 'issue', data-id=issue.id)
            td= issue.issueCaption
            td= issue.creationDate
            td= issue.status
block scripts    
  script(type='text/javascript', src='/js/problems.js')



